.footer {
    grid-column: sidebar-start / full-end;
    // grid-row: 7 / 8;
    height: 9vh;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,
            #8ad8ff80 50%,
            #8ad8ff80 50%,
            #cd76ff80);

    &__paragraph {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 2px;
        font-size: $font-size-medium;
    }
}