@media (min-width: 360px) {
  .hero-container {
    background-color: black;
    height: 100vh;
    display: block;
  }
  .first-sentence {
    margin-top: 4em;
    text-align: center;
    font-size: clamp(20px, 3vw, 30px);
    background: -webkit-linear-gradient(#71cffe, #9e4bcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .animation {
    background: -webkit-linear-gradient(#ebbdf9, #a485b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: clamp(10px, 2vw, 15px);
  }
  .fa-icons {
    color: rgb(255, 255, 255);
    margin: 1em;
    font-size: clamp(20px, 5vw, 30px);
  }
  .hero-img {
    margin-top: 60px;
    object-fit: contain;
    filter: brightness(0.8);
    filter: grayscale(0.15);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  }
}

@media (min-width: 640px) {
  .first-sentence {
    font-size: clamp(20px, 3vw, 32px);
  }
}

@media (min-width: 720px) {
  .first-sentence {
    font-size: clamp(16px, 3vw, 40px);
  }
  .animation {
    font-size: clamp(14px, 5vw, 28px);
  }
  .fa-icons {
    font-size: 26px;
  }
}

@media (min-width: 750px) {
  .hero-container {
    display: flex;
  }
  .greetings {
    margin-top: 5em;
    width: 50%;
    text-align: left;
  }
  .first-sentence {
    text-align: left;

    margin-left: 1em;
    font-size: clamp(16px, 5vw, 28px);
  }
  .animation {
    margin-left: 1em;
    font-size: clamp(14px, 5vw, 28px);
  }
  .hero-links {
    margin-left: 1em;
  }
  .hero-img {
    margin-left: 5em;
    margin-top: 10em;
    width: 50%;
    height: 50%;
  }
}

@media (min-width: 1120px) {
  .first-sentence {
    font-size: clamp(34px, 2vw, 60px);
  }
  .hero-img {
    margin-top: 8em;
    width: 60%;
    height: 60%;
  }
}

.fa-icons:hover {
  scale: 1.4;
  transition: ease-in-out 0.2s;
}
.linkedin:hover {
  color: #0a66c2;
}
.github:hover {
  color: #6e5494;
}
