@media (min-width: 360px) {
  .about-me-container {
    display: block;
    height: auto;
    color: rgb(131, 0, 138);
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  }
  .text-column {
    margin-top: 15%;
    width: 80vw;
    margin-left: 10vw;
  }
  .about-img {
    margin-top: 10%;
    width: 50%;
    height: auto;
    filter: drop-shadow(0px 0px 10px rgba(197, 90, 255, 0.5));
    border-radius: 15px;
  }
  .about-title {
    font-size: clamp(18px, 2vw, 26px);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .about-text {
    line-height: 1.5em;
    font-size: clamp(13px, 2vw, 15px);
    margin: 0 1em;
    padding-bottom: 10%;
  }
}

@media (min-width: 640px) {
  .about-text {
    margin: 2em 2em;
  }
  .text-column {
    margin-top: 5%;
  }
}

@media (min-width: 750px) {
  .about-me-container {
    display: flex;
    position: relative;
  }
  .about-img {
    margin-top: 5%;
    width: 35%;
    height: 35%;
    object-fit: contain;
    margin-left: 10%;
    z-index: 1;
  }
  .text-column {
    margin-top: 30%;
    margin-left: -20%;
    padding: 25px;
    z-index: 99;
  }
  .about-title {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .about-text {
    line-height: 1.5em;
    margin: 0 1em;
  }
}

@media (min-width: 998px) {
  .about-me-container {
    display: flex;
    gap: 15px;
  }
  .about-img {
    width: 40%;
    height: auto;
    object-fit: contain;
  }
  .text-column {
    position: relative;
    margin: 10% 5% 0 0;
    padding: 10px;
  }
}
