.jobs-container {
  max-width: 1040px;
  margin: 0;
}

.jobs-items-container {
  margin: 0;
  text-align: left;
  display: flex;
  margin-bottom: 0;
  padding: 0;
  flex-direction: column;
  position: relative;
  border-left: 1px solid rgba(128, 128, 128, 0.754);
}
.jobs-items-list {
  margin-bottom: 1em;
  margin-left: 1em;
  color: rgba(253, 253, 253, 0);
}

.circle {
  position: absolute;
  width: 0.8em;
  height: 0.8em;
  background-color: rgb(1, 1, 128);
  border-radius: 2em;
  margin-top: 1em;
  left: -0.5em;
}

.each-job {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}
.year {
  color: white;
  background-color: rgb(1, 1, 128);
  padding: 0.5em;
  border-radius: 0.5em;
  font: 18px;
}
.title {
  color: rgb(1, 1, 128);
  font-weight: 500;
}
.company {
  color: rgb(74, 74, 181);
}

.duration {
  color: rgb(173, 172, 172);
}

.description {
  color: rgb(132, 129, 129);
  white-space: pre-line;
  line-height: 1.5em;
}

@media (min-width: 360px) {
  .jobs-container {
    margin: 5%;
  }
}

@media (min-width: 750px) {
  .jobs-container {
    margin-left: 15%;
  }
}
