.language-container {
  position: absolute;
  margin: 4%;
}
.language-dropdown > .lang-btn {
  font-size: 15px;
  background-color: rgba(211, 234, 255, 0);
  padding: 5px;
  border: none;
  border-radius: 1em;
}
.current-lng-flag {
  font-size: 25px;
}
.language-dropdown > .lang-btn:hover {
  color: white;
  background-color: #9f4bcf9d;
}

.language-dropdown > .dropdown-dark-bg {
  background-color: rgb(207, 226, 243);
}
.globe {
  font-size: 20px;
}
.language-dropdown .dropdown-item {
  display: flex;
  align-items: normal;
  line-height: 1.7em;
}

.language-dropdown .dropdown-item img {
  margin-right: 10px;
}
